.cards {
  margin-bottom: 67px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  max-width: 880px;
  padding: 0;
  margin: 0 auto;
}

.cards__element {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  max-width: 282px;
  /*max-height: 361px;*/
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cards__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.cards__description {
  background-color: white;
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  /*padding-left: 20px;
  padding-right: 20px;
  /*padding-top: 5.2px;
  padding-bottom: 5.2px;*/
}

.cards__title {
  width: 195px;
  padding: 25px 28px 25px 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 20px;
  margin: 0;
  /*Thank you!"*/
}

.cards__button {
  width: 21px;
  height: 18px;
  border-style: none;
  background: transparent url(../images/Vector-heart.svg);
}

.cards__button:hover {
  opacity: 50%;
  transition: opacity 0.15s linear;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .cards {
    margin-bottom: 48px;
  }
}
