.footer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto 67px;
}
.footer__text {
  color: #545454;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

@media screen and (max-width: 620px) {
  .footer {
    max-width: 282px;
    margin: 0 0 36px 19px;
  }
  .footer__text {
    font-size: 0.87rem;
    line-height: 1;
  }
}
