.header {
  max-width: 880px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 45px auto 0;
}

.header__logo {
  width: 173px;
  height: 33px;
  background-image: url(../images/Vector.svg);
  background-size: cover;
  margin-bottom: 41px;
}

@media screen and (max-width: 620px) {
  .header__logo {
    margin-bottom: 32px;
    max-width: 126px;
    max-height: 24px;
  }
  .header {
    margin-top: 28px;
  }
}
