.page {
  background-color: black;
  max-width: 1280px;
  margin: auto;
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
